#!/bin/bash

#Customize values here
node=<HERE GOES YOUR CUSTOM HOSTNAME>
hash=<HERE GOES A HASH TO AUTHENTICATE THE HOSTNAME>

############STOP EDITING HERE
DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
source $DIR/templates/poke_monitor.sh
